<script lang="ts" setup>
import { ref } from "vue";
import { useProductStore } from "@/stores/products";
import type product from "@/product";
const productStore = useProductStore();

/* const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
); */

const Addproduct = (products: product): void => {
  productStore.AddProduct(products);
};
</script>
<template>
  <!--  <div>
    {{ products }}
  </div> -->
  <v-container>
    <v-row>
      <v-col>
        <v-container style="height: 80vh; overflow-y: auto" cols="6">
          <v-row>
            <v-col
              class="ma-5"
              cols="3"
              v-for="item of productStore.product"
              :key="item.id"
            >
              <v-card class="pa-2" style="width: 150px">
                <v-card-item class="justify-center">
                  <v-card-titie>
                    {{ item.name }}
                  </v-card-titie>
                </v-card-item>
                <v-card-text style="text-align: center">
                  {{ item.price }}
                </v-card-text>
                <v-card-actions class="justify-center">
                  <v-btn elevation="2" @click="Addproduct(item)"> ADD </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col>
        <v-container
          style="height: 70vh; overflow-y: auto"
          cols="6"
          class="justify-center"
        >
          <v-row>
            <v-col>
              <v-table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="item of productStore.ListAddProduct"
                    :key="item.id"
                  >
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                  </tr>

                  <tr>
                    <th
                      colspan="3"
                      style="text-align: center"
                      v-if="productStore.ListAddProduct.length === 0"
                    >
                      No Data
                    </th>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row> </v-container
        ><br />
        <v-row class="text-h4">Sum: {{ productStore.sumTotal }}</v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
