<script lang="ts" setup>
import { usefelingStore } from "@/stores/feelings";
import type feeling from "@/feeling";
import { ref } from "vue";
const feelStore = usefelingStore();

const idfeeling = ref(6);
const namefeeling = ref("SMILE");
const imgfeeling = ref("../../../feeling_imgs/smile.png");
const clickfeeling = function (f: feeling) {
  idfeeling.value = f.id;
  namefeeling.value = f.name;
  imgfeeling.value = f.img;
};
</script>
<template>
  <v-container class="">
    <v-row>
      <v-col>
        <v-container>
          <v-img :src="imgfeeling"></v-img>
        </v-container>
      </v-col>
      <v-col>
        <div class="text-h4" style="text-align: center">{{ namefeeling }}</div>
        <v-list>
          <v-list-item v-for="item of feelStore.feelings" :key="item.id">
            <v-btn
              elevation="2"
              @click="clickfeeling(item)"
              class="ma-2"
              style="width: 500px"
              :color="idfeeling === item.id ? 'yellow' : 'none'"
            >
              {{ item.name }}
            </v-btn>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
