<script lang="ts" setup>
import { ref } from "vue";
const input = ref("0");
</script>

<template>
  <v-container class="">
    <v-text-field
      v-model="input"
      label="Please input Number"
      :rules="[(v) => !!v || ' Number is not empty!!']"
      required
    ></v-text-field>
    <v-row>
      <v-col cols="1" v-for="n in parseInt(input)" :key="n"> {{ n }} </v-col>
    </v-row>
  </v-container>
</template>
