<script setup lang="ts">
import { ref, computed } from "vue";
import { useCounterStore } from "@/stores/counter";
const count = useCounterStore();
</script>
<template>
  <div class="pa-2">First Component</div>
  <div class="pa-2">{{ count.count }}</div>
  <div class="pa-2" @click="count.increment"><v-btn> INCREMENT </v-btn></div>
</template>
