<script setup lang="ts">
import { ref } from "vue";
import { useCounterStore } from "@/stores/counter";
const doubleCount = useCounterStore();
</script>
<template>
  <div class="pa-2">Second Component</div>
  <div class="pa-2">{{ doubleCount.doubleCount }}</div>
  <div class="pa-2" @click="doubleCount.decrease">
    <v-btn> DECREASE </v-btn>
  </div>
</template>
